<div class="card">
    <h1 class="logo-text">Skillassure Assessment Framework <span id="version">v1.0</span><span id="blinking">_</span>
        <span class="tag-line">Prove Yourself <span class="typing"></span></span>
    </h1>
</div>
<div class="container cb">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="component-badge bg-gradient-info">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Assessments<i class="fa fa-code float-right"></i></h1>
                <p class="component-badge-count">439145</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="align-center">
                <h3>OFFERINGS</h3>
                <div class="inclusive-icon"><i class="fa fa-circle-o-notch"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 dashboard-badges">
            <div class="badge-content" routerLink="/assessment">
                <div class="badge-logo"><i class="fa fa-3x fa-code icon-color"></i></div>
                <div class="badge-header"><span>Code Jam</span></div>
                <div class="badge-desc">
                    <p>The competition consists of a set of algorithmic problems which must be solved in a fixed amount of time.</p>
                </div>
            </div>
        </div>
        <div class="col-6 dashboard-badges">
            <div class="badge-content" routerLink="/comingsoon">
                <div class="badge-logo"><i class="fa fa-3x fa-terminal icon-color"></i></div>
                <div class="badge-header"><span>Crack It</span></div>
                <div class="badge-desc">
                    <p>SkillAssure "Crack It" is an programming hackathon hosted and administered by SkillAssure.</p>
                </div>
            </div>
        </div>
    </div>
</div>