<div class="row">
    <div class="col-xl-12 brand-wrapper">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 pt-4 my-auto" style="height:10em; padding-top: 8rem !important; padding-left: 3rem;">
            <h1 class="font-weight-bold text-white heading">Pratian Assessment Framework</h1>
            <button type="button" class="btn btn-warning">Explore</button>
        </div>
    </div>
</div>

<div class="row mb-2" style="margin-top: 6em;">
    <div class="col-md-4 col-sm-6">
        <div class="serviceBox green">
            <div class="service-icon">
            </div>
            <h3 class="title">Developer</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="serviceBox red">
            <div class="service-icon">
            </div>
            <h3 class="title">Enterprise</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="serviceBox purple">
            <div class="service-icon">
            </div>
            <h3 class="title">Playground</h3>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
            </p>
        </div>
    </div>
</div>