.brand-wrapper {
    margin-top: 0.2rem;
    height: 20em;
    background: url(/assets/images/homebg.jpg);
    background-size: 100% 100%;
    border-radius: .5rem;
}

.serviceBox {
    color: #9f9f9f;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 0 15px;
}

.serviceBox .service-icon {
    background: rgba(0, 0, 0, 0.05);
    line-height: 126px;
    width: 126px;
    height: 126px;
    margin: 0 auto 30px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.serviceBox:hover .service-icon {
    box-shadow: 0 0 25px -5px #707070;
    cursor: pointer;
}

.serviceBox .service-icon:before,
.serviceBox .service-icon:after {
    content: "\1F421";
    color: #4385F5;
    font-size: 60px;
    font-family: FontAwesome;
    font-weight: 900;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.serviceBox .service-icon:after {
    color: #fff;
    background: #4385F5;
    border-radius: 50%;
    top: 100%;
    left: 0;
}

.serviceBox:hover .service-icon:before {
    font-family: FontAwesome;
    top: -100%;
}

.serviceBox:hover .service-icon:after {
    top: 0;
}

.serviceBox .title {
    color: #4385F5;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}

.serviceBox:hover .title {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.serviceBox .description {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}

.serviceBox.purple .service-icon:before,
.serviceBox.purple .service-icon:after {
    content: "\f0ac";
    font-family: FontAwesome;
    color: #a52eea;
}

.serviceBox.purple .service-icon:after {
    color: #fff;
    background: #a52eea;
}

.serviceBox.purple .title {
    color: #a52eea;
}

.serviceBox.green .service-icon:before,
.serviceBox.green .service-icon:after {
    content: "\f121";
    font-family: FontAwesome;
    color: #34B67A;
}

.serviceBox.green .service-icon:after {
    color: #fff;
    background: #34B67A;
}

.serviceBox.green .title {
    color: #34B67A;
}

.serviceBox.red .service-icon:before,
.serviceBox.red .service-icon:after {
    content: "\f0e8";
    font-family: FontAwesome;
    color: #FF4761;
}

.serviceBox.red .service-icon:after {
    color: #fff;
    background: #FF4761;
}

.serviceBox.red .title {
    color: #FF4761;
}

@media only screen and (max-width:1200px) {
    .serviceBox {
        margin: 0;
    }
}

@media only screen and (max-width:990px) {
    .serviceBox {
        margin: 0 0 40px;
    }
}