<div class="card">
    <h1 class="logo-text">Pratian Assessment Framework <span id="version">v1.0</span><span id="blinking">_</span>
        <span class="tag-line">We are <span class="typing"></span></span>
    </h1>
</div>
<div class="container cb">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="component-badge bg-gradient-danger">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Customers<i class="fa fa-users float-right"></i></h1>
                <p class="component-badge-count">17</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="component-badge bg-gradient-info">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Developers<i class="fa fa-code float-right"></i></h1>
                <p class="component-badge-count">439145</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="component-badge bg-gradient-success">
                <img src="assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                <h1>Challenges<i class="fa fa-cogs float-right"></i></h1>
                <p class="component-badge-count">1000</p>
            </div>
        </div>
    </div>
</div>