<div class="code-container">
    <div class="code-body">
        <div class="code-statement-con">
            <div class="code-title">
                    {{question.AssesmentName}}
            </div>
            <div class="code-description">
                {{question.Description}}
            </div>
        </div>
        <div class="code-editor-con">
            <form class="code-editor-form">
                <div style="flex:1">
                        <label style="margin-right: 5px;">Language:</label>
                        <select name="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
                            <option *ngFor="let item of languages" [value]="item.name">{{item.name}}</option>
                        </select>
                </div>
                <div>
                    {{currentTime}}
                </div>
            </form>
            <div class="code-editor">
                <ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
            </div>
            <div class="code-footer">
                    <button class="btn btn-sm btn-primary" style="margin-right: 5px;" (click)="runTestCases()">Run Test Cases</button>
                    <button *ngIf="NumberOfTestCasesPassed==TotalTestCases && TotalTestCases>0" (click)="submitCodeOnClick()" class="btn btn-sm btn-success">Submit Code</button>
            </div>
            <div class="code-testcase">
                <div class="output-terminal">
                    <div *ngFor="let item of output">
                        > {{item}}
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Times Up</h5>
        </div>
        <div class="modal-body">
            Sorry, you have taken more time than expected. Try again later.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeAssessment()" data-dismiss="modal">Close Assessment</button>          
        </div>
      </div>
    </div>
  </div>

  <button type="button" #openModal data-backdrop="static" data-keyboard="false" id="openModalButton" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button>

  <div class="modal fade" id="landingModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="landingModalLongTitle">Instructions</h5>
        </div>
        <div class="modal-body">
            <div>
              1. The assessment has one question to solve.
            </div>
            <div>
              2. The assessment has problem statement on the left side of the page.
            </div>
            <div>
              3. You need to write code in the editor which is provided on right side of page.
            </div>
            <div>
              4. Assessment has time limit. Before that you should pass all test cases.
            </div>
            <div>
              5. Do not close the browser window/tab before you submit your final answers. If you do so, we cannot guarantee that your work will be saved
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="closeLandingModal()" data-dismiss="modal">Start Assessment</button>          
        </div>
      </div>
    </div>
  </div>

  <button type="button" #landingModal data-backdrop="static" data-keyboard="false" id="openlandingModalButton" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#landingModalLong">
    Launch demo modal
  </button>
  <div class="loading" *ngIf="isLoading">
    <div class="spinner-border text-warning"></div>
  </div>
  
  <div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="submissionModalTitle">Congratulations</h5>
        </div>
        <div class="modal-body">
            Your code has been submitted !
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="closeAssessment()" data-dismiss="modal">Close Assessment</button>          
        </div>
      </div>
    </div>
  </div>

  <button type="button" #submissionModal data-backdrop="static" data-keyboard="false" id="submissionModalButton" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#submissionModal">
    Launch demo modal
  </button>