<div class="code-container">
    <div class="code-body">
        <div class="code-statement-con">
            <div class="code-title">
                    Dynamic Array
            </div>
            <div class="code-description">
                    Create a list, , of  empty sequences, where each sequence is indexed from  to . The elements within each of the  sequences also use -indexing.
                    Create an integer, , and initialize it to .
                    The  types of queries that can be performed on your list of sequences () are described below:
                    Query: 1 x y
                    Find the sequence, , at index  in .
                    Append integer  to sequence .
                    Query: 2 x y
                    Find the sequence, , at index  in .
                    Find the value of element  in  (where  is the size of ) and assign it to .
                    Print the new value of  on a new line
            </div>
        </div>
        <div class="code-editor-con">
            <form class="code-editor-form">
                <div style="flex:1">
                        <label style="margin-right: 5px;">Language:</label>
                        <select name="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
                            <option *ngFor="let item of languages" [value]="item.value">{{item.text}}</option>
                        </select>
                </div>
                <div>
                    {{currentTime}}
                </div>
            </form>
            <div class="code-editor">
                <ngx-monaco-editor class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
            </div>
            <div class="code-footer">
                    <button class="btn btn-sm btn-primary" style="margin-right: 5px;" (click)="runTestCases()">Run Test Cases</button>
                    <!-- <button class="btn btn-sm btn-success">Submit Code</button> -->
            </div>
            <div class="code-testcase">
                <div class="output-terminal">
                    <div *ngFor="let item of output">
                        >{{item}}
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Oops, times Up</h5>
        </div>
        <div class="modal-body">
            Oops, times Up
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeAssessment()" data-dismiss="modal">Close Assessment</button>          
        </div>
      </div>
    </div>
  </div>

  <button type="button" #openModal id="openModalButton" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button>