.code-container{
    height:calc(100vh - 55px);
    display: flex;
    flex-direction: column;
}

.code-header{
    text-align: right;
    padding:10px;
}

.code-body{
    display: flex;
    flex-direction: row;
    flex:1;
    margin-top: 10px;
}

.code-statement-con{
    flex:1;
    border:1px solid #ddd;
    padding:5px;
}

.code-editor-con{
    flex:2;
    display: flex;
    flex-direction: column;
    border:1px solid #ddd;
    padding:5px;
}

.code-editor-form{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
}

.code-editor{
    flex:1;
}
.code-title{
    font-weight: bold;
    margin-bottom: 10px;
}

.code-description{
    font-size: 0.8em;
}

.my-code-editor {
    height: 100%;
}

.test-case-con{
    display: flex;
    flex-direction: row;
}

.code-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.output-terminal{
    padding:10px;
    background: #ddd;
}

.code-testcase{
    display: flex;
    justify-content: flex-end;
    padding:5px;
    height:150px;
}