<div class="component-tile-box">
    <div class="component-tile">
        <div class="component-circle-logo logo" [ngClass]="(assessment.AssesmentType=='MCQ')?'image-mcq-url':'image-code-url'"></div>
        <div class="component-caption"><span>{{assessment.AssesmentName}}</span></div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
                <div class="sub-headers-count">{{assessment.AssesmentType}}</div>
                <div class="logo"><i class="fa fa-file"></i></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
                <div class="sub-headers-count">{{assessment.TimeInMinutes}}mins</div>
                <div class="logo"><i class="fa fa-clock-o"></i></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
                <div class="sub-headers-count">{{assessment.DateOfAssesment}}</div>
                <div class="logo"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
</div>