<div class="component-tile-box">
    <div class="component-tile">
        <div class="component-circle-logo logo" [ngClass]="(assessment.AssesmentType=='MCQ')?'image-mcq-url':'image-code-url'"></div>
        <div class="component-caption"><span>{{assessment.AssesmentName}}</span></div>
        <div class="mt-4">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sub-headers">
                <div class="sub-headers-count">{{assessment.AssesmentType}}</div>
            </div>
        </div>
    </div>
</div>