<nav class="navbar navbar-expand-md navbar-dark fixed-top shadow p-1" style="height: 3em;">
    <a class="navbar-brand font-weight-bold" routerLink="/home">
        <img src="../assets/images/skillassurelogo.png" style="height:40px;" alt="logo">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link font-weight-bold" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="/assessment">Assessment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" *ngIf="!user" routerLink="/login">Login</a>
                <a class="nav-link font-weight-bold" style="cursor: pointer;" *ngIf="user" (click)="logout()">logout</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">

        </form>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 3.45rem;">
    <router-outlet></router-outlet>
    <router-outlet name="authentication"></router-outlet>
</div>