* {
    font-family: exo;
    font-size: 20px;
}

ul li a {
    font-size: 1.5rem;
}


/* .container-fluid {
    padding-left: 5% !important;
    padding-right: 5% !important;
} */

.navbar {
    background: linear-gradient(to left, #414960 41%, rgba(65, 73, 96, 0.63) 74%, #fff 88%);
    padding-left: 15px !important;
    padding-right: 15px !important;
}