<h3 class="pt-3">Stage 1 MCQ Aptitude Assesment</h3>
<div class="container">
    <!--Question Number List-->
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig2" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let question of QuestionList" class="slide col-10">
                    <button type="button" class="btn btn-secondary btn-sm mx-1">01</button>
            </div>
    </ngx-slick>

    <!--Timer Component-->
    <ngx-slick class="carousel mt-3" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let question of QuestionList" class="slide col-10">
                  <!--Problem Component-->
        <div class="card shadow p-3">
                <div class="card-body">
                <h5 class="card-title">Question 01</h5>
                <h6 class="card-subtitle mb-2 text-muted">Problem Title </h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
                <!--Answer Choice Options-->
            <div class="mt-3 pt-3">
                
                <h4>Choose your answer</h4>
    
                <form class="row p-3">
                        <div class="custom-control custom-radio col-6">
                            <input type="radio" id="OptionA" name="customRadio" class="custom-control-input" checked>
                            <label class="custom-control-label" for="OptionA">Option A</label>
                        </div>
            
                        <div class="custom-control custom-radio col-6">
                            <input type="radio" id="OptionB" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="OptionB">Option B</label>
                        </div> 
            
                        <div class="custom-control custom-radio col-6">
                            <input type="radio" id="OptionC" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="OptionC">Option C</label>
                        </div>  
            
                        <div class="custom-control custom-radio col-6">
                            <input type="radio" id="OptionD" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="OptionD">Option D</label>
                        </div>    
                            
                </form>
            </div>
                <!--Next Button-->
            <div class="col-4 float-right">
                <button type="button" (click)="saveAndProcced()" class="btn btn-success btn-block shadow-lg">Submit & Procced</button>
            </div> 
            </div>
        </ngx-slick>

        <!-- <button (click)="addSlide()">Add</button>
        <button (click)="removeSlide()">Remove</button>
        <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
        <button (click)="slickModal.unslick()">unslick</button> -->
</div>


