.signup-header {
    background: linear-gradient(to left, #414960 41%, rgba(65, 73, 96, 0.63) 74%, #9f9ea7 88%);
}

.signup-border {
    border-radius: #92bade!important;
}

.signup-header {
    color: #fff;
}

.form-group label {
    font-size: 14px;
}