<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card signup-border">
                        <div class="card-header signup-header">
                            <h3 class="mb-0 my-2">Sign Up</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input formControlName="name" type="text" class="form-control" id="inputName">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3">Email</label>
                                    <input formControlName="email" type="email" class="form-control" id="inputEmail" required="">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Password</label>
                                    <input formControlName="password" type="password" class="form-control" id="inputPassword" title="At least 6 characters with letters and numbers" required="">
                                </div>
                                <div class="form-group">
                                    <label for="inputPhone">Phone</label>
                                    <input formControlName="phone" type="text" class="form-control" id="inputPhone" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>